<h1>Welcome to Task Mananger</h1>
<h2>Below is where you can add and delete tasks.</h2>

<ul>
  <li><a href="/tasks">See All the Tasks</a></li>
  <li><a href="/tasks/new">Add a New Task</a></li>
</ul>